@import "../../../styles/viriables.scss";


.skills{
    margin: 48px 0;
    padding: 100px 0;
    background-color: $main-color;
}

.skills__list{
   
    margin-top: 48px;
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
   @media screen and (max-width: $tablet-max) {
    grid-template-columns: repeat(4, 1fr);
   }
   @media screen and (max-width: $tablet-min) {
    grid-template-columns: repeat(2, 1fr);
   }
    .skills__list-item{
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 24px;
        transition: 0.4s;
            &:hover{
                margin-top: 0;
                transition: 0.4s;
            }
      
        .skills__list-item--img{ 
            width: 60px;
            height: 60px;
            
        }
        .skills__list-item--title{
            padding-top: 8px;
        }
    }
}