@import "../../../styles/viriables.scss";


.skills{
    padding: 24px;
}

.skills__title{
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    color: $main-blue;
    line-height: 114.286%;
    text-align: right;
    z-index: 2;
}

.skills__list{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    .skills__list-item{
        list-style: none;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 24px;
        transition: 0.4s;
            &:hover{
                margin-top: 0;
                transition: 0.4s;
            }
      
        .skills__list-item--img{ 
            width: 60px;
            height: 60px;
            
        }
        .skills__list-item--title{
            padding-top: 8px;
        }
    }
}