/* Colors */

// $main-blue: #3399FF;
$main-color: #FDD835;
$black-color: black;
$white-color: #ffffff;
$light-background:  #F2F1EF;




/* Media Queries */

$desktop-min: 1280px;
$tablet-max: 1279px;
$tablet-min: 768px;
$mobile-max: 767px;


