@import "../../../styles/viriables.scss";

.contacts{
    padding: 154px 0;
    background-color: $main-color;
    position: relative;
    z-index: 5;
    .contacts__title{
        text-align: center;
        font-weight: normal;
        font-size: 48px;
        color: #fff;
        @media screen and (max-width: $mobile-max) {
            font-size: 36px;
        }
    }
}


