@import "../../../styles/viriables.scss";

.contacts{
    padding: 154px 0;
    background-color: $main-color;
    position: relative;
    z-index: 5;
    .contacts__title{
        text-align: center;
        font-weight: normal;
        font-size: 48px;
        color: #fff;
        @media screen and (max-width: $mobile-max) {
            font-size: 36px;
        }
    }
    .contacts__form-wrap{
        display: flex;
        justify-content: center;
        margin-top: 24px;
        
        .contacts__form{
            display: flex;
            flex-direction: column;
            min-width: 250px;
            max-width: 600px;
        
            .contacts__input{
                padding: 12px;
                margin-top: 8px;
                width: 100%;;
                
            }
            .contacts__form-btn--wrap{
                display: flex;
                justify-content: center;
                margin-top: 12px;
                .contacts__form-btn{
                    width: 30%;
                    cursor: pointer;
                }
            }
            
        }
    }
   
}


