.footer{
    display: flex;
    justify-content: space-between;
    padding: 24px;
    background-color: #F2F1EF;
    .footer__connect{
        display: flex;
        flex-direction: column;
    }
    .footer__contacts{
        display: flex;
        flex-direction: column;
    }
    .footer__copyright{
        display: flex;
        flex-direction: column;
    }
}