@import "../../../styles/viriables.scss";
.experience{
    margin-top: 148px;
    padding: 0 24px;
    .experience__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
        .experience__content-img{
            & img{
                max-width: 800px;
                height: auto;
                @media screen and (max-width: $tablet-min) {
                    display: none;
                }
            }
        }
        
    }
}



.experience__works{
    padding: 24px;
    .experience__works-item{
        padding: 24px;
        .experience__works-item-period{
            padding-top: 8px;
        }
        .experience__works-position{
            padding-top: 8px;
            color: $black-color;
        }
        .experience__works-company{
            padding-top: 8px;
        }
        .experience__works-description{
        padding-top: 8px;
    }
    }
}

