@import "../../../styles//viriables.scss";

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    padding: 24px;
    background-color: $main-blue;
}

.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header__nav-item{
        list-style: none;
        .header__nav-item-link{
            text-decoration: none;
            margin-left: 24px;
            position: relative;
            color: #fff;
            
        }
        .header__nav-item-link::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;  
            bottom: -4px;
            height: 2px;
            background-color: #fff;
            transform: scaleX(0);
            transition: transform 0.3s ease;
            
          }
          
          .header__nav-item-link:hover::after {
            transform: scaleX(1);
          }
    }
}