@import "../../../styles/viriables.scss";

.header,
.header--close {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    padding: 24px;
    background-color: $main-color;
    transform: translateY(0);
    transition: 0.2s;
    @media screen and (max-width: $mobile-max) {
        justify-content: center;
        
    }
}

.header--close {
    top: -100%;
    transition: 2s;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: $mobile-max) {
        flex-direction: column;
    }

    .header__nav-item {
        list-style: none;

        .header__nav-item-link {
            text-decoration: none;
            margin-left: 24px;
            position: relative;
            color: $black-color;
            background: none;
            border: none;
            box-shadow: none;
            font-size: 16px;
            cursor: pointer;
            @media screen and (max-width: $mobile-max) {
               padding: 24px 0;
               font-size: 24px;
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: -4px;
                height: 2px;
                background-color: $black-color;
                transform: scaleX(0);
                transition: transform 0.3s ease;
                
            }

            &:hover::after {
                transform: scaleX(1);
            }
        }
    }
}
