@import  "../../../styles/viriables.scss";

.portfolio{
    margin-top: 48px;
    padding: 0 24px;

}




.mySwiper{
    max-width: 80%;
    height: 400px;
    margin-top: 48px;
    & img{
        max-height: 400px;
    }
}