@import  "../../../styles/viriables.scss";

.portfolio{
    margin-top: 48px;
    .portfolio__title{
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        color: $main-blue;
        line-height: 114%;
        text-align: left;
        padding: 0 24px;
    }
}




.mySwiper{
    max-width: 80%;
    height: 400px;
    margin-top: 48px;
    & img{
        max-height: 400px;
    }
}