
@import "../../../styles/viriables.scss";


.card {
    position: relative;
    width: 350px;
    

    .card__img {
      width: 350px;
      height: 200px;
      border-radius: 10px;
      border: 1px solid $main-color;
      box-sizing: border-box;
      cursor: pointer;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      
    }
  
    .card__desc {
      text-align: left;
      padding: 8px;
      color: #fff;
    }
  
    .card__cover {
      background-color: $main-color;
      height: 200px;
      border-radius: 10px;
      opacity: 0.5;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      cursor: pointer;
      transition: 0.5s;
      
    }
    &:hover{
        .card__cover{
            transition: 0.5s;
            opacity: 0;
            top: 0;
            left: 350px;
            right: 0;
            bottom: 0;
            height: 200px;
        }
        .card__img{
            border: 2px solid $main-color;
            box-sizing: border-box;
        }
    }
    
  
  }
  

  .card__selected {
    position: relative;
    width: 350px;
    
    .card__img {
      width: 350px;
      height: 200px;
      border-radius: 10px;
      border: 1px solid $main-color;
      box-sizing: border-box;
      cursor: pointer;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      
    }
  
    .card__desc {
      text-align: left;
      padding: 8px;
      color: $main-color;
    }
  
    .card__cover {  
      transition: 0.4s;
      
    }

  }
  