@import "../../../styles/viriables.scss";

.about{
    padding: 56px 24px 0 56px;
    position: relative;
    
    .about__img-wave{
        width: 100%;
        position: absolute;
        top: 40%;
        z-index: -1;

    }
}



.about__content{
    display: flex;
    @media screen and (max-width: $tablet-min) {
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .about__text-block{
        width: 50%;
        padding: 0 24px;
        @media screen and (max-width: $tablet-min) {
            padding: 0 10px;
            width: 100%;
        }
        .about__text-block--text{
            padding-top: 24px;
           
        }
    }
    .about__photo-block{
        display: flex;
        justify-content: center;
        width: 50%;
        
        .about__photo{
            width: 300px;
            height: 300px;
            border-radius: 50%;
            z-index: 2;
           
        }
    }
    
}

