@import "../../../styles/viriables.scss";

.hero{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    background: $white-color;
    position: relative;
    .lang{
        position: fixed;
        top: 50%;
        right: 10px;
    }
    .hero__avatar-img--panorama{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

    }
  
    .burger-icon{
        position: absolute;
        top: 24px;
        left: 24px;
    }
}


.hero__introduce{
    width: 50%;
    background-color: $main-color;
    position: relative;
    @media screen and (max-width: $tablet-min) {
        width: 100%;
    }
    .hero__introduce-title{
        padding-top: 150px;
        color: $black-color;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 114% ; 
        text-align: center;
        @media screen and (max-width: $mobile-max) {
            font-size: 36px;
        }

    }
    .hero__introduce-subtitle{
        color: $black-color;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 114% ; 
        text-align: center;
        @media screen and (max-width: $mobile-max) {
            font-size: 24px;
        }
    }
    .scroll-icon{
        position: absolute ;
        bottom: 2%;
        right: 6%;
    }
   
}

.hero__avatar{
    width: 50%;
    display: flex;
    justify-content: center;
    padding-top: 48px;
 
    .hero__avatar-img{  
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
}

